/* http://meyerweb.com/eric/tools/css/reset/ */
/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; box-sizing: border-box; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } */

/* site styles */

:root {
  --padding: 4rem;
  --h1-font-size: 3.6rem;
  --h2-font-size: 2.8rem;
  --h3-font-size: 2.4rem;
  --body-font-size: 1.4rem;
  --small-font-size: 1.1rem;
  --micro-font-size: 0.8rem;
}

html {
  position: fixed;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: scroll;
}

body {
  font-family: linotype-sabon, 'Classical Garamond', social;
  color: rgb(60, 60, 60);
  padding: var(--padding);
  font-size: var(--body-font-size);
  line-height: 1.4;
}

.content {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2;
  font-weight: normal;
  margin: 0.4rem 0;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2;
  font-weight: normal;
  margin: 0.4rem 0;
}

h3 {
  position: relative;
  font-size: var(--h3-font-size);
  line-height: 1.2;
  font-weight: bold;
  padding-left: 5%;
  width: 100%;
}

h3::after, h3::before {
  content: '';
  background-color: rgb(60, 60, 60);
  top: 50%;
  position: absolute;
  height: 2px;
}
h3::before {
  left: 0;
  width: 5%;
}

h3::after {
  width: 100%;
  margin-left: 4px;
}

h4 {
  font-weight: normal;
  margin: 0;
}

strong {
  font-weight: bold;
}

p {
  text-align: justify;
}

.small-font {
  font-size: var(--small-font-size);
}

.subheader {
  display: inline-block;
  font-weight: bold;
}

.subheader--right {
  float: right;
}

.flex-container {
  display: flex;
  gap: 2rem;
  flex-wrap:wrap-reverse;
  margin-bottom: 2rem;
}

.flex-item {
  flex: 1 1 0;
  min-width: 300px;
}

.flex-item--small {
  min-width: 150px;
}
.flex-item--large {
  min-width: 450px;
}

.flex-item--bottom {
  margin-top: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: top right;
}

.image-container {
  position: relative;
}

.image-container:hover .caption {
  display: block;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  font-size: var(--micro-font-size);
  background: white;
  padding: 4px 0;
}

/* Small desktop  */
@media (max-width: 992px) {
  :root {
    --padding: 3rem;
    --h1-font-size: 3.2rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --body-font-size: 1.2rem;
    --small-font-size: 1rem;
  }
}

/* Tablets  */
@media (max-width: 768px) {
  :root {
    --padding: 2rem;
    --h1-font-size: 2.6rem;
    --h2-font-size: 2.1rem;
    --h3-font-size: 1.6rem;
    --body-font-size: 1rem;
    --small-font-size: 1rem;
  }
}

/* Mobile  */
@media (max-width: 480px) {
  :root {
    --padding: 1.4rem;
    --h1-font-size: 2.6rem;
    --h2-font-size: 2.1rem;
    --h3-font-size: 1.6rem;
    --body-font-size: 1rem;
    --small-font-size: 1rem;
  }

  .subheader--right {
    display: block;
    font-weight: normal;
    float: initial;
  }
}