<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="https://use.typekit.net/kku8dsx.css">    
    <style>{% include "assets/styles.css" %}</style>
  </head>

  <body>
    <div class="content">
    <div class="flex-container">
      <div class="flex-item flex-item--large flex-item--bottom">
        <h1><strong>Irene Zhou</strong>, software&nbsp;engineer.</h1>
        <h2>Formerly at Slack.</h2>
      </div>
      <div class="image-container flex-item">
              <img class="intro-image lazyload" src ='./img/irene.jpeg' width="1600px" aspect-ratio="1600/1200">
      </div>
    </div>

    <div class="section">
      <h3 class="section-header">Work Experience</h2>
      <div >
        {% for workExperience in collections.workExperience %}
          <div>
            <h2>{{workExperience.data.company}}</h2>
            <div class="subheader">{{workExperience.data.role}}</div>
            <div class="subheader subheader--right">{{workExperience.data.dates}}</div>
          </div>

          <div>
            {{workExperience.templateContent | safe}}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="section">
      <h3 class="section-header">Projects</h2>

      <div>
        {% for project in collections.project | reverse %}
        <div class="flex-container">
          <div class="flex-item">
            <div><strong>{{project.data.title}}</strong></div>
            <div class="small-font">{{project.data.dates}}</div>
            <div class="small-font">{{project.templateContent | safe }}</div>
          </div>
          <div class="flex-item">
            <img class="lazyload" src ='./img/{{project.data.imageUrl}}'>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="section">
      <h3 class="section-header">Links</h3>
      <div><a href= "./assets/resume-27-09-2022.pdf" target="_blank" rel="noopener noreferrer">CV</a></div>
      <div><a href="https://github.com/izhou">Github</a></div>
      <div><a href="https://www.linkedin.com/in/irene-zhou-b7045886/">Linkedin</a></div>
    </div>

    <script src="{{ "/assets/lazysizes.min.js" | url }}"></script>
  </body>
</html>
