<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="https://use.typekit.net/kku8dsx.css">    
    <style>{% include "assets/styles.css" %}</style>
  </head>

  <body>
    <div class="content">
    <div class="intro flex-container">
      <div class="intro--info flex-item flex-item--large">
        <h1><strong>Irene Zhou</strong>, software&nbsp;engineer.</h1>
        <h2>Formerly at Slack.</h2>
      </div>
      <div class="image-container flex-item">
              <img class="intro-image" src ='./img/irene.jpeg' width="1600">
      </div>
    </div>

    <div class="section">
      <h3 class="section-header">Work Experience</h2>
      <div class="work-experience">
        {% for workExperience in collections.workExperience | reverse%}
          <div class="work-experience--header">
            <h2 class="work-experience--company">{{workExperience.data.company}}</h2>
            <div class="work-experience--role">{{workExperience.data.role}}</div>
            <div class="work-experience--dates">{{workExperience.data.dates}}</div>
          </div>

          <div class="work-experience--content">
            {{workExperience.templateContent | safe}}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="section">
      <h3 class="section-header">Projects</h2>

      <div class="projects">
        {% for project in collections.project | reverse %}
        <div class="project--container flex-container">
          <div class="project--info flex-item">
            <div class="project--title"><strong>{{project.data.title}}</strong></div>
            <div class="project--dates small-font">{{project.data.dates}}</div>
            <div class="project--content small-font">{{project.templateContent | safe }}</div>
          </div>
          <div class="project--image-container flex-item">
            <img class="project--image" src ='./img/{{project.data.imageUrl}}'>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="section">
      <h3 class="section-header">Links</h3>
      <div><a href= "./assets/resume-2022.pdf" target="_blank" rel="noopener noreferrer">CV</a></div>
      <div><a href="https://github.com/izhou">Github</a></div>
      <div><a href="https://www.linkedin.com/in/irene-zhou-b7045886/">Linkedin</a></div>
    </div>
  </body>
</html>
